i {
  color: #fff;
  margin: 0px;
}
p {
  color: #fff;
  margin: 0px;
}
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* letter-spacing: 0.15rem; */
  /* margin-top: 20x; */
  /* overflow-x: hidden; */
}
.header {
  height: 30px;
  background-color: #323233;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  /* position: fixed; */
  transition: 0.2s;
  top: 0;
  z-index: 99;
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 0 50px;
}
.headInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 30px 0 0;
}
.container {
  display: flex-row;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}
.navbar {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.342);
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.903);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
  position: sticky;
  overflow: hidden;
}
.logo {
  display: flex;
  align-items: center;
  z-index: 3;
  height: 100%;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  z-index: 2;
  padding: 0px;
  overflow: hidden;
}
li {
  display: flex;
}
.items {
  display: flex;
  color: #fff;
  font-weight: 600;
  /* height: auto */
  width: auto;
  padding: 25px 20px;
  /* margin: 10px; */
  color: #323233ac;
  display: flex;
  align-items: center;
}
.items:hover {
  background-color: #556694;
  color: #fff;
}
img {
  /* height: 100%; */
}
.imgs {
  /* display: flex; */
  /* height: 100%; */

  width: 100%;
}
.bannerContainer {
  /* transform: translateY(-100px);  */
  position: relative;
  top: -100px;
  /* clear: both; */
  /* display: flex-row; */
  /* bottom: -100px; */
  overflow: hidden;
  margin-bottom: -100px;
}

.banner2 {
  background-image: url('/docs/4.jpg');
}
.banner3 {
  background-image: url('/docs/2.jpg');
}
.sec1 {
  display: flex;
  height: 1000px;
  /* position: absolute; */

  /* width: 500px; */
  background-color: rgb(238, 199, 199);
}
.slogan {
  color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  z-index: 1;
  align-items: center;
  width: 70%;
  position: absolute;
}
.banner {
  display: flex;
  transform-style: preserve-3d;
  /* position: relative; */
  /* top: 0px; */
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  /* background-attachment: fixed; */
  z-index: 1;
}
.banner1 {
  background-image: url('/docs/5.jpg');
  height: 700px;
  /* position: relative; */
  /* top: -100px; */
  /* margin-top: 140px; */
  /* transition: transform 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}
.test {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform-style: preserve-3d; */
  z-index: 1;
  color: white;
  height: 500px;
  overflow: hidden;
  /* background-size: cover; */
  /* background-attachment: fixed; */
}
.bg {
  background-image: url('/docs/3.jpg');
  background-size: cover;
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scale(1);
  transition: transform 1s;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* overflow-x: hidden; */

  /* background-attachment: fixed; */
  /* height: 100%; */
}
.test:hover .bg {
  overflow-x: hidden;
  transform: scale(1.05);
}
